<style type="text/css">
  .carousel {
    background: #ffffff;
    margin-top: 25px;
  }

  .carousel .item img {
    margin: 0 auto;
    /* Align slide image horizontally center */
  }

  .bs-example {
    margin: 20px;
  }
</style>
