
<div class="container">
<div class="row">

  <div class="col-xl-12" >

  <div class="jumbotron">
    <h1>Cuddle Dinos</h1>
  </div>

  </div>

 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for carousel items -->
    <div class="carousel-inner">
        <div class="item active">
           <img src="images/dino1.jpg" width="900" height="100" alt=""/>
        </div>
        <div class="item">
           <img src="images/dino2.jpg" width="900" height="100" alt=""/>
        </div>
        <div class="item">
            <img src="images/dino8.jpg" width="900" height="100" alt=""/>
        </div>

        <div class="item">
          <img src="images/dino4.jpg" width="900" height="100" alt=""/>
           </div>
    </div>
    <!-- Carousel controls -->
 	<a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
   <a class="carousel-control right" href="#myCarousel" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="col-xl-12" >

<div class="jumbotron">
  <p>Cuddle Dinos are here to be your best friends! Each Cuddle Dino has their own story and no two are ever the same.
    Cuddle Dinos are made special for each order - so you are able to customize each Dino to your liking.
    They make that perfect personalized present for the special people in your life.</p>
</div>

</div>

</div>
</div>
