/* nav bar live colour */

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #ff8541;
}

/* carousel */

.carousel-control {
  background-color: none;
  color: #061e42;
}
.carousel-control.left, .carousel-control.right {
  background-image: none
}
.carousel {
  background: white;
  margin-top: 20px;
}
.carousel .item img {
  margin: 0 auto;
  /* Align slide image horizontally center */
}

/* end carousel */

/* jumbotron */

.jumbotron {
  background-color: #fbeae0;
  color: #061e42;
}

/* order styling */

.control-label, .gens, h3 {
  color: #fbeae0;
}

/* end order styling */


/* json styling */

.dinoCharacteristics, .dinoName, small {
  color: #fbeae0;
}
.dinoName {
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
}
.dinoCharacteristics {
  margin-bottom: 15px;
}

.dinoImage{
  margin-top: 20px;
}

/* end json styling */


/* body stlyeing */

h1 {
  font-family: 'Candal', sans-serif;
  text-align: center;
  font-size: 100px;
}
p {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
}
body {
  background-color: #061e42;
  opacity: 1;
}
small {
  font-weight: bold;
  font-style: italic;
}

/* end body stlyeing */

footer {
  text-align: center;
  color: #fbeae0;
}
.panel-heading {
  text-shadow: 0px 1px 1px #000;
  text-align: center;
  font-size: 20px;
}
.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
#submitButton {
  text-align: center;
}
#orderForm div {
  margin-top: 12px;
}
.text-success {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}
.renterName, .catType small, .catGender small {
  color: #6DB733;
  text-shadow: 0px 1px 1px #000;
  font-style: italic;
  letter-spacing: 5px;
}
div#orderForm {
  margin-top: 2%;
}
html, body {
  height: 100%
}
