<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <!-- input-->
    <input id="mySingleLineText" class="form-control" type="text" value="Cuddles Name">
  </div>
  <div class="col-md-6"></div>
</div>
<div class="row">
  <div class="col-md-6">
    <!--textarea -->
    <textarea id="myTextarea" class="form-control" rows="10" cols="50">Describe your Cuddles personality.</textarea>
  </div>
  <div class="col-md-6">
    <!--select -->
    <select id="mySelect" class="form-control">
      <option value="value1">Mini</option>
      <option value="value2" selected>Regular</option>
      <option value="value3">Large</option>
    </select>
    <div id="mySelectMessage"></div>
  </div>

  <div class="col-md-6">
    <!-- radio-->

    <div class="radio-inline">
      <label>
        <input type="radio" name="gender" value="male" checked> Male
      </label>
    </div>
    <div class="radio-inline">
      <label>
        <input type="radio" name="gender" value="female"> Female
      </label>
    </div>

    <br>
    <br>
  </div>
  <div class="col-md-6">
    <!-- checkbox-->

    <div class="checkbox">
      <label>
        <input type="checkbox" name="vehicle" value="Bike"> I have a bike
      </label>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="vehicle" value="Car"> I have a car
      </label>
    </div>

  </div>
  <div class="col-md-6">
    <!--button -->
    <button class="btn btn-default" id="myButton" type="button">Click Me!</button>
  </div>

  <div class="col-md-6">
    <!--log -->
    <div id="log">LOG</div>
  </div>

</div>
